@import "tailwindcss";

*{
    font-family: 'Space Grotesk', sans-serif;
}

span{
   font-family: inherit ;
}

.OrangeShadow{
    box-shadow : 3px 3px 0 0 #Fc4c02;
}
.reverseOrangeShadow{
    box-shadow : -3px 3px 0 0 #Fc4c02;
}

.reverseOrangeShadow:hover{
    transform: translate(3px,-3px);
    box-shadow : -5px 5px 0 0 #Fc4c02;
}

.OrangeShadow:hover{
    transform: translate(-3px,-3px);
    box-shadow : 5px 5px 0 0 #Fc4c02;
}

.buttonColor{
    background-color : #Fc4c02;
}

.bgColor{
/* background: linear-gradient(135deg, #0F0F10, #1A1A1D); */
 background: white;
 
}

