@import "tailwindcss";

*{
    font-family: 'Space Grotesk', sans-serif;
}

span{
   font-family: inherit ;
}

.OrangeShadow{
    box-shadow: none;
}
.reverseOrangeShadow{
    box-shadow: none;
}

.reverseOrangeShadow:hover{
    transform: none;
    box-shadow: none;
}

.OrangeShadow:hover{
    transform: none;
    box-shadow: none;
}

.buttonColor{
    background-color : #Fc4c02;
}


